{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Set alerts for stocks for various exchanges{% endblock %}

{% block content %}


  <br>
  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Stock Alert</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"
                                                         data-toggle="modal"
                                                         data-target="#modalSubscriptionForm">
          <i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">Scrip Symbol</th>
            <th class="text-center">Exchange Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Percentage</th>
            {% comment %}<th class="text-center">Intraday Alert</th>{% endcomment %}
            <th class="text-center">Remove</th>
            <th class="hide d-none">uuid</th>
          </tr>
          {% for alert in alerts %}
            <tr>
              <td class="pt-3-half" contenteditable="true">{{ alert.scrip_symbol }}</td>
              <td class="pt-3-half" contenteditable="true">{{ alert.exchange_name }}</td>
              <td class="pt-3-half" contenteditable="true">{{ alert.price }}</td>
              <td class="pt-3-half" contenteditable="true">
                {% if alert.percentage %}{{ alert.percentage }}{% endif %}</td>
              {% comment %}<td class="pt-3-half" contenteditable="false">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialUnchecked" {% if alert.intraday_alert %}checked{% endif %}>
                <label class="form-check-label" for="materialUnchecked"></label>
              </div>
            </td>{% endcomment %}

              <td>
              <span class="table-remove"
                    data-id="{{ alert.uuid }}"><button type="button"
                                                       class="btn btn-danger btn-rounded btn-sm my-0"
              >Remove</button></span>
              </td>

              <td class="hide d-none">{{ alert.uuid }}</td>

            </tr>

          {% endfor %}



          <tr class="hide" id="new-row">
            <td class="pt-3-half" contenteditable="true">GOOGL</td>
            <td class="pt-3-half" contenteditable="true">NASDAQ</td>
            <td class="pt-3-half" contenteditable="true">12345</td>
            <td class="pt-3-half" contenteditable="true">5</td>
            {% comment %}<td class="pt-3-half" contenteditable="false">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked"></label>
              </div>
            </td>{% endcomment %}

            <td>
              <span class="table-remove"><button type="button"
                                                 class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
          </tr>
        </table>
      </div>
      <button id="export-btn" type="submit" class="btn btn-primary mr-3 btn-table save-btn">Save</button>
    </div>
    <br>
    <p class="text-center text-warning add-button-show hide d-none">Data being added on click is for reference only.</p>

  </div>
  <!-- Editable table -->
  <!-- Side Modal Top Right -->

  <!-- To change the direction of the modal animation change .right class -->
  <div class="modal fade right" id="sideModalTR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">

    <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-side modal-top-right" role="document">


      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Side Modal Top Right -->
  <!-- Popup Modal  -->
  <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form id="subscribe-form">
        <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body mx-5">
          <div class="md-form mb-5">
            <i class="fa fa-rocket prefix grey-text subscribe-icons"></i>
            <input required type="text" id="form3" class="form-control validate" name="scrip_symbol">
            <label data-error="" data-success="" for="form3">Scrip symbol</label>
          </div>

          <div class="md-form mb-5 select">
            <i class="fa fa-line-chart prefix grey-text subscribe-icons"></i>
            {% comment %}<input required type="text" id="form2" class="form-control validate" name="exchange_name">{% endcomment %}

            <select name="exchange_name" id="form2" class="select-text" required>
              <option value=""></option>
              <option value="NSE">NSE</option>
              <option value="NASDAQ">NASDAQ</option>
            </select>
            <label for="form2" class="select-label">Exchange name</label>

          </div>

          <div class="md-form mb-5">
            <i class="fa fa-money prefix grey-text subscribe-icons"></i>
            <input  required type="number" id="form4" class="form-control validate" name="price" min="0" step=".01">
            <label data-error="" data-success="" for="form4">Price</label>
          </div>

          <div class="md-form mb-4">
            <i class="fa fa-percent prefix grey-text"></i>
            <input required type="number" id="form5" class="form-control validate" name="percentage" min="0" step=".01">
            <label data-error="" data-success="" for="form5">Percentage</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-indigo" type="submit">Save<i class="fa fa-paper-plane-o ml-1"></i></button>
        </div>

      </div>
      </form>
    </div>
  </div>


  <!-- Popup Modal  -->
  <script>
    var user = '{{ request.user.uuid }}';
  </script>

{% endblock %}



